{
	"semi": true,
	"singleQuote": true,
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "all",
	"bracketSpacing": false,
	"jsxBracketSameLine": false,
	"arrowParens": "avoid",
	"endOfLine": "auto",
	"jsxSingleQuote": true
}
