.toolbar {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin: 10px;
    width: 23.2%;
    align-self: center;
}
.toolbar-item {
    padding: 6px;
    border-radius: 100%;
    border: 3px solid color-mix(in srgb, var(--text-color) 45%, transparent);
    color: var(--text-color);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.05s ease-in-out;
}
.toolbar-item:hover {
    background-color: color-mix(in srgb, var(--text-color) 100%, transparent);
    color: var(--background-color);
    border: 3px solid var(--text-color);
    transform: scale(1.2);
}