.toolbar {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin: 10px;
    width: 23.3%;
    align-self: center;
}
.toolbar-item {
    padding: 8px;
    border-radius: 100%;
    border: 3px solid color-mix(in srgb, var(--text-color) 45%, transparent);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
