:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

:root {
  --text-color: #fafefc;
  --background-color: rgb(33, 3, 24);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #0c2b33;
    --background-color: #fafefc;
  }
}