@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@200;400;800&display=swap');

:root {
  font-family: var(--font-family);
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

:root {
  --text-color: #fafefc;
  --background-color: #1f1517;
  --font-family: 'Inter Tight', sans-serif;
  
  /* letter cell variables */
  --not-in-word: #ff5154;
  --in-word: #e08e45;
  --correct: #73a580;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #0c2b33;
    --background-color: #fafefc;
    --correct: #6B9080;
    --not-in-word: #A53860;
    --in-word: #E59F71;
  }
}